<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Client</title>
    <link class="style" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <div class = "templates container" style="margin-top:30px">
  		<div class="row">
			<div class="col-md-8">
				 <legend>Delete Client</legend>
    			 <p>You are about to delete the client <th:block th:text="${client.firstName}" /> <th:block th:text="${client.lastName}" />:  Are you sure?</p>
                 <form action="/client/delete" method="post">
      				<input type="hidden" name="personId" th:value="${client.clientId}"/>
      				<input type="submit" class="btn btn-default"  name="command" value="Cancel"/>
      				<input type="submit" class="btn btn-danger" name="command" value="Delete"/>
    			</form>
			</div>
		</div>
	</div>
   
  </body>
</html>
