<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
		table.dataTable thead .sorting:after,
		table.dataTable thead .sorting:before,
		table.dataTable thead .sorting_asc:after,
		table.dataTable thead .sorting_asc:before,
		table.dataTable thead .sorting_asc_disabled:after,
		table.dataTable thead .sorting_asc_disabled:before,
		table.dataTable thead .sorting_desc:after,
		table.dataTable thead .sorting_desc:before,
		table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting_desc_disabled:before {
		bottom: .5em;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Client Listing</title>
	<link class="style" href="http:////cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	
    <link class="style" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  rel="stylesheet" type="text/css" media="screen" />

</head>
  <body>
    <h2 style="margin-left:100px">Client Listing</h2>
    <div class = "templates container" style="margin-top:30px">
    	<p><a href="/client/create" class="btn btn-primary">Create New Client</a></p>
    
    <th:block th:unless="${#lists.isEmpty(clients)}">
      <table id="dt_listing" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Website Url</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="client : ${clients}">
            <tr>
              <td th:text="${client.companyName}">Name</td>
              <td th:text="${client.websiteUrl}">Url</td>
              <td th:text="${client.phoneNumber}">(XXX)XXX-XXXX</td>
              <td>
                <a th:href="'/client/edit/' + ${client.clientId}" class="btn btn-success">Edit Client</a>
				<a th:href="'/client/delete/' + ${client.clientId}" class="btn btn-danger">Delete Client</a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
      </div>
    </th:block>
    <th:block th:if="${#lists.isEmpty(clients)}">
      <h2>No results found.</h2>
    </th:block>
  </body>
	<script>
		$(document).ready(function () {
	
			$('#dt_listing').DataTable();
			$('.dataTables_length').addClass('bs-select');
		});
    </script>
</html>

