
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Person</title>
    <link class="style" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
  	<div class = "templates container" style="margin-top:30px">
  		<div class="row">
			<div class="col-md-8">
			    <th:block th:unless="${#lists.isEmpty(errors)}">
			      <p>Please correct the following errors in your submission:</p>
			      <ul>
			        <th:block th:each="error : ${errors}">
			          <li th:text="${error}"></li>
			        </th:block>
			      </ul>
			    </th:block>
			    <form action="/person/create" class="form-horizontal" method="POST">
			      <legend>Create Person</legend>

			      <div class="form-group input-field">
						<label class="col-sm-3 control-label">First Name:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="firstName" th:value="${person.firstName}" required="required"/>
						</div>
				  </div>
				  <div class="form-group input-field">
						<label class="col-sm-3 control-label">Last Name:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="lastName" th:value="${person.lastName}" required="required"/>
						</div>
				  </div>
				  <div class="form-group input-field">
						<label class="col-sm-3 control-label">Email Address:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="emailAddress" th:value="${person.emailAddress}" required="required"/>
						</div>
				  </div>
			     <div class="form-group input-field">
						<label class="col-sm-3 control-label">Street Address:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="streetAddress" th:value="${person.streetAddress}" required="required"/>
						</div>
				  </div>
				  <div class="form-group input-field">
						<label class="col-sm-3 control-label">City:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="city" th:value="${person.city}" required="required"/>
						</div>
				  </div>
				  <div class="form-group input-field">
						<label class="col-sm-3 control-label">State:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="state" th:value="${person.state}" required="required"/>
						</div>
				  </div>
				  <div class="form-group input-field">
						<label class="col-sm-3 control-label">Zip Code:</label>
						<div class="col-sm-9 control-size">
							<input class="form-control" type="text" name="zipCode" th:value="${person.zipCode}" required="required"/>
						</div>
				  </div>
				  <div class="form-group select-dropdown">
						<label class="col-sm-3 control-label" for="">Associated Client:</label>
						<div class="col-sm-9 control-size">
							<select class="form-control" th:value="${person.clientId}" name="clientId" required="required">
							    <option value="0">Select client</option>
							    <option th:each="client : ${clients}" th:value="${client.clientId}" th:text="${client.companyName}"></option>
						    </select>
					    </div>
				  </div>
				  <div class="form-group submit-button">
						<div class="col-sm-offset-3 col-sm-9 control-size">
			      			<input type="submit" class="btn btn-primary btn btn-default" name="Submit" value="Submit"/>
			      		</div>
			      </div>
			    </form>
			</div>
		</div>
    </div>
  </body>
</html>
